body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

div#app {
    flex: 1;
    height: 10%;
    content: "Error 404: ";
}
div#pixi-container{
    height: 90%;
}
canvas {
    height: calc(100% - 10em);
}